<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card>
      <ion-img src="../../assets/urna1.jpg"></ion-img>
    </ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Urna Eletrônica</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Aplicativo versão 1.0</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: justify;"  >

      Trabalho feito para cadeira de Desenvolvimento Mobile da turma de Engenharia da computação do 7ª período.
      <br>
      O intuito do aplicativo foi para poder viabilizar a votação de qualquer que seja o local que eteja, sem
      precisar sair da sua comodidade. Para realização do projeto utilizamos o Ionic com integração Cordova, a
      partir das tags do Ionic fomos montando todo o corpo do projeto.
      <br>
      <br>
      <b>Envolvidos no projeto:</b> <br>
      <ul type="cycle">
      <li>Carlos Levi;
      <li>João Barbosa;
      <li>Jonnathan Henriquue;
      <li>Lucas de Melo;
      <li>Pedro Caldas;
      </ul>
      <br>

      <!-- <ion-img src="../../assets/eleição-Amaer.jpg" id="fluxo1"></ion-img> -->

    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>