<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicial</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-card>
    <ion-img src="../../assets/3spidermans.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Quem é o melhor HOMEM-ARANHA?</ion-card-title>
      <ion-card-subtitle>Tom Holland, Tobey Maguire, Andrew Garfield</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Com a chegada do novo filme do Homem-Aranha, em que vimos três grandes gerações do herói reunidos juntos, a emoção contagiante tomou conta dos cinemas ao mesmo tempo em que uma discussão surgia: Quem é o melhor Homem-Aranha para os brasileiros? Fizemos então uma votação nacional em que os três candidatos apresentaram suas ideias para a conquistarem o voto do público<br />
      <br />
      Para votar em <b>Tom Holland: 1</b><br />
      Para votar em <b>Tobey Maguire: 2</b><br />
      Para votar em <b>Andrew Garfield: 3</b>
    </ion-card-content>
  </ion-card>
</ion-content>
