<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre o aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre o aplicativo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->

  <ion-card>
    <ion-img src="../../assets/grupo.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title>Urna Eletrônica</ion-card-title>
      <ion-card-subtitle>Eleições 2022</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Alunos que desenvolveram esse app:
      <ion-list>
        <ion-item>
          <ion-label> 
            <h5>Marcel sales Conde(01294218)
            </h5>
            <h5>
              Adriano Souza (01128354)
            </h5>
            <h5>
              José Vinícius (01301659)
            </h5>
            <h5>Lucas filipe (01296789)</h5>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
