<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 1</ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-card>
      <ion-card>
        <ion-img src="../assets/urna1.jpg"></ion-img>
      </ion-card>
    <ion-card-header>
      <ion-card-title>Calendário Eleitoral</ion-card-title>
      <ion-card-subtitle>Eleições 2022</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: justify-all;">

      <ion-card>
        <ion-img src=".\assets\eleicao-Amaer.jpg" id="fluxo1"></ion-img>
      </ion-card>

    </ion-card-content>
    <ion-card-content style="text-align: justify;">
      
        Olá, eleitores, Tudo bem?
        <br>
        <br>

        A partir deste aplicativo você conseguirá visualizar os candidatos e uma lista para os cargos de Presidente e Governador, como também será possivel
        consultar alguns regulamentos das eleições. Com isso você terá em suas mãos um meio de consultar os candidatos de forma rapida e fácil, no entanto,
        não somente isso, você terá também em suas mãos um aplicativo em que você poderá votar, sem precisar se deslocar a um local de votação,
        tranquilamente da sua casa no dia da votação (02/10/2022). Caso tenha segundo turno, a data programada está para  o dia 30/10/2022.

        <br>
        <br>

        Mais informações sobre a agenda eleitoral pode ser obitda atraves do site do TSE "www.tse.jus.br".

        <br>
        <br>

        Lista para Presidente: <br>
        Zé do Viagra - 69 <br>
        Sem Nome - 99 <br>
        Luva de Pedreiro - 20 <br>
        Paulo Camaro - 40 <br>
        

     </ion-card-content>

  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
