<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre o Aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-img src ="https://www.oficinadanet.com.br/imagens/post/37724/codigo-fonte-das-urnas-eletronicas-foi-adulterado-em-2018-tse-desmente.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Projeto Urna eletrônica</ion-card-title>
      <ion-card-subtitle>Esse projeto foi feito pelos alunos do sétimo período do curso de engenharia da computação para a 
        disciplina de dispositivos móveis. Onde o objetivo era criar uma urna eletrônica</ion-card-subtitle>      
    </ion-card-header>

    <ion-card-content>
      Alunos participantes do Projeto:<br>
      - Dayana Ferreira do Nascimento<br>
      - Jonathan Santos de Souza<br>
      - João Henrique Ayres Pereira<br>
      - Maria Alice de Santana Costa<br>
      - Maria Beatriz Araújo Mota<br>
    </ion-card-content>
  </ion-card>

</ion-content>
