<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  Sobre o aplicativo
    </ion-title>
   </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  
    
  
  
   <ion-card>
     <ion-img src ="https://www.oficinadanet.com.br/imagens/post/37724/codigo-fonte-das-urnas-eletronicas-foi-adulterado-em-2018-tse-desmente.jpg" ></ion-img>
     <ion-card-header>
    <ion-card-title>Projeto Urna eletrônica</ion-card-title>
    <ion-card-subtitle> Esse projeto foi feito pelos alunos do sétimo período do curso de engenharia da computação para disciplina de dispositivos móveis. Onde o obejetivo era criar uma urna eletrônica </ion-card-subtitle>      
  </ion-card-header>
    

   </ion-card>

   
   <ion-card-content>
    <app-explore-container name=></app-explore-container>
  </ion-card-content>
    
   

  
</ion-content>
