<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Urna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Urna</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card>
      <ion-img src=".\assets\ilupi-patente-urna-eletronica-blog.png"></ion-img>
    </ion-card>

    <ion-item>
      <ion-label position="stacked"></ion-label>
      <ion-input placeholder="Número do candidato" [(ngModel)]="voto"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="full" size="small" (click)="votar(voto)">Confirmar voto</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>Votos para o Zé do Viagra: {{ this.votos69 }}</ion-label>
      <br>
      <ion-label>Votos para o Sem Nome: {{ this.votos99 }}</ion-label>
      <br>
      <ion-label>Votos para o Luva de Pedreiro: {{ this.votos20 }}</ion-label>
      <br>
      <ion-label>Votos para o Paulo Camaro: {{ this.votos40 }}</ion-label>
    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
