<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem vindo a Urna Digital !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Eleições 2022</ion-card-title>
      <ion-card-subtitle>Justiça Eleitoral</ion-card-subtitle>      
    </ion-card-header>
    <ion-img src ="https://www.tse.jus.br/imagens/fotos/titulo-de-eleitor-17-05-2021/@@images/675370e6-92a5-424f-8e1a-aea28ff44c35.jpeg" ></ion-img>
    <ion-card-content>
      As eleições estão marcadas para o dia 2 de outubro, quando os brasileiros vão às urnas para eleger presidente da República,
    governadores, senadores e deputados federais, estaduais e distritais.
    </ion-card-content>
  </ion-card>

</ion-content>

 