<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Donkey Kong</ion-card-title>
      <ion-card-subtitle>Vice Diddy Kong</ion-card-subtitle>      
    </ion-card-header>
    <ion-img src ="/assets/Donkey-Kong.png" id="imgDK"></ion-img>
    <ion-card-content>
      Vota em mim vai, nunca te pedi nada...
    </ion-card-content>
    <br>
    <ion-button color="success" expand="block" (click)="voto()">
      Votar
    </ion-button>
  </ion-card>

</ion-content>
