<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicial</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-card>
    <ion-img src="../../assets/eleicoes22.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Calendário Eleitoral 2022</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      <ion-img src="../../assets/logoUninassau.png" id="imgTeste"></ion-img>
      Neste calendário, você tem acesso, de forma dinâmica, às informações relativas às eleições,
      separadas por ano e mês.

      Para conhecer as normas que regulamentam o calendário das eleições 2020, acesse a página normas e documentações.
      Caso queira pesquisar as normas dos outros anos, acesse eleições anteriores.

      Em breve serão inseridas informações acerca do Calendário Eleitoral - Eleições 2022.</ion-card-content>
    
    </ion-card>
</ion-content>


